@media only screen and (max-width:1306px) {
    .home-sec5-left {
        margin-top: 100px
    }

    .phone-img {
        max-width: 180px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 180px;
        top: 54px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 180px;
        top: 138px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 180px;
        top: 218px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 180px;
        top: 300px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 55%;
        margin-left: -60px;
        top: -70px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        right: -110px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -14px !important
    }

    .left-icon-area,
    .left-icon-area2 {
        margin-top: -40px
    }

    .inner-circle-area {
        margin-top: -30px !important
    }

    .cir-heading1 {
        margin-top: 0px !important;
        margin-left: 0px !important
    }

    .cir-heading2 {
        margin-top: 10px !important;
        margin-left: 20px !important
    }

    .cir-heading3 {
        margin-top: -3px !important;
        margin-left: 20px !important
    }

    .cir-heading4 {
        margin-top: -2px !important;
        margin-left: 15px !important
    }

    .cir-heading5 {
        margin-top: -8px !important;
        margin-left: -2px !important
    }

    .cir-heading6 {
        margin-top: 5px !important;
        margin-left: -5px !important
    }

    .cir-heading7 {
        margin-top: 1px !important;
        margin-left: -10px !important
    }

    .cir-heading8 {
        margin-top: 2px !important;
        margin-left: -10px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 60%;
        right: -70%;
        margin-top: 10px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -20px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .panel p {
        font-size: 15px;
        padding: 20px 5px 20px 70px !important
    }

    .container2 {
        margin-left: -70px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: -30px;
        left: 190px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: 110px;
        left: 100px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -20px;
        left: -310px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: -10px;
        left: -230px
    }

    .home-sec6 {
        margin-top: -200px !important
    }
}

@media only screen and (max-width:1247px) {
    .home-sec5-left {
        margin-top: 100px
    }

    .phone-img {
        max-width: 180px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 180px;
        top: 54px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 180px;
        top: 138px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 180px;
        top: 218px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 180px;
        top: 300px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 55%;
        margin-left: -60px;
        top: -70px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        right: -87px;
        font-size: 17px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -12px !important
    }

    .left-icon-area,
    .left-icon-area2 {
        margin-top: -40px
    }

    .inner-circle-area {
        margin-top: -50px !important
    }

    .home-sec5-right img.inner-img {
        max-width: 150px !important
    }

    .circle-hand1 img {
        max-width: 193.95px !important;
        margin-top: 21px !important;
        margin-left: -10px !important
    }

    .circle-hand2 img {
        max-width: 144.15px !important;
        margin-top: -29px !important;
        margin-left: -13px !important
    }

    .circle-hand3 img {
        max-width: 77.7px !important;
        margin-top: -25px !important;
        margin-left: 11px !important
    }

    .circle-hand4 img {
        max-width: 122.25px !important;
        margin-top: 14px !important;
        margin-left: 25px !important
    }

    .cir-heading1 {
        margin-top: 25px !important;
        margin-left: -12px !important
    }

    .cir-heading2 {
        margin-top: 10px !important;
        margin-left: -15px !important
    }

    .cir-heading3 {
        margin-top: -3px !important;
        margin-left: -25px !important
    }

    .cir-heading4 {
        margin-top: -2px !important;
        margin-left: -25px !important
    }

    .cir-heading5 {
        margin-top: -8px !important;
        margin-left: -20px !important
    }

    .cir-heading6 {
        margin-top: 5px !important;
        margin-left: -8px !important
    }

    .cir-heading7 {
        margin-top: 1px !important;
        margin-left: 3px !important
    }

    .cir-heading8 {
        margin-top: 2px !important;
        margin-left: -3px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 60%;
        right: -60%;
        margin-top: 20px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -20px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .panel p {
        font-size: 15px;
        padding: 20px 5px 20px 70px !important
    }

    .container2 {
        width: 600px;
        margin-left: -150px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: -20px;
        left: 150px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: 65px;
        left: 60px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -20px;
        left: -300px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: -10px;
        left: -220px
    }

    .home-sec6 {
        margin-top: -200px !important
    }
}

@media only screen and (max-width:1199px) {
    .home-sec5-left {
        margin-top: 100px
    }

    .phone-img {
        max-width: 180px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 180px;
        top: 54px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 180px;
        top: 138px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 180px;
        top: 218px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 180px;
        top: 300px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 55%;
        margin-left: -60px;
        top: -70px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        right: -87px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -12px !important
    }

    .left-icon-area,
    .left-icon-area2 {
        margin-top: -40px
    }

    .inner-circle-area {
        margin-top: -50px !important
    }

    .home-sec5-right img.inner-img {
        max-width: 150px !important
    }

    .circle-hand1 img {
        max-width: 193.95px !important;
        margin-top: 21px !important;
        margin-left: -10px !important
    }

    .circle-hand2 img {
        max-width: 144.15px !important;
        margin-top: -29px !important;
        margin-left: -13px !important
    }

    .circle-hand3 img {
        max-width: 77.7px !important;
        margin-top: -25px !important;
        margin-left: 11px !important
    }

    .circle-hand4 img {
        max-width: 122.25px !important;
        margin-top: 14px !important;
        margin-left: 25px !important
    }

    .cir-heading1 {
        margin-top: 25px !important;
        margin-left: -10px !important
    }

    .cir-heading2 {
        margin-top: 10px !important;
        margin-left: 0px !important
    }

    .cir-heading3 {
        margin-top: -3px !important;
        margin-left: -8px !important
    }

    .cir-heading4 {
        margin-top: -2px !important;
        margin-left: -12px !important
    }

    .cir-heading5 {
        margin-top: -5px !important;
        margin-left: -14px !important
    }

    .cir-heading6 {
        margin-top: 5px !important;
        margin-left: -8px !important
    }

    .cir-heading7 {
        margin-top: 1px !important;
        margin-left: 0px !important
    }

    .cir-heading8 {
        margin-top: 2px !important;
        margin-left: -4px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 60%;
        right: -70%;
        margin-top: 20px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        right: -12px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .panel p {
        font-size: 15px;
        padding: 20px 5px 20px 70px !important
    }

    .container2 {
        width: 600px;
        margin-left: -200px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: -20px;
        left: 150px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: 65px;
        left: 60px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -20px;
        left: -300px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: -10px;
        left: -210px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (max-width:1140px) {
    .home-sec5-left {
        margin-top: 100px
    }

    .phone-img {
        max-width: 158px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 158px;
        top: 44px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 158px;
        top: 116px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 158px;
        top: 187px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 158px;
        top: 261px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 48%;
        margin-left: -80px;
        top: -89px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -87px;
        font-size: 17px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -12px !important
    }

    .left-icon-area,
    .left-icon-area2 {
        margin-top: -40px
    }

    .inner-circle-area {
        margin-top: -50px !important
    }

    .home-sec5-right img.inner-img {
        max-width: 140px !important
    }

    .circle-hand1 img {
        max-width: 181.076px !important;
        margin-top: 30px !important;
        margin-left: -15px !important
    }

    .circle-hand2 img {
        max-width: 134.54px !important;
        margin-top: -35px !important;
        margin-left: -16px !important
    }

    .circle-hand3 img {
        max-width: 72.54px !important;
        margin-top: -30px !important;
        margin-left: 11px !important
    }

    .circle-hand4 img {
        max-width: 114.1px !important;
        margin-top: 18px !important;
        margin-left: 30px !important
    }

    .cir-heading1,
    .cir-heading2,
    .cir-heading3,
    .cir-heading4,
    .cir-heading5,
    .cir-heading6,
    .cir-heading7,
    .cir-heading8 {
        font-size: 17px !important
    }

    .cir-heading1 {
        margin-top: 35px !important;
        margin-left: -12px !important
    }

    .cir-heading2 {
        margin-top: 10px !important;
        margin-left: -15px !important
    }

    .cir-heading3 {
        margin-top: 1px !important;
        margin-left: -20px !important
    }

    .cir-heading4 {
        margin-top: 5px !important;
        margin-left: -20px !important
    }

    .cir-heading5 {
        margin-top: -5px !important;
        margin-left: -13px !important
    }

    .cir-heading6 {
        margin-top: 5px !important;
        margin-left: 2px !important
    }

    .cir-heading7 {
        margin-top: 1px !important;
        margin-left: 10px !important
    }

    .cir-heading8 {
        margin-top: 2px !important;
        margin-left: 5px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 60%;
        right: -60%;
        margin-top: 20px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -12px;
        font-size: 17px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .panel p {
        font-size: 15px;
        padding: 20px 5px 20px 70px !important
    }

    .container2 {
        width: 500px;
        margin-left: -100px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: -20px;
        left: 110px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: 65px;
        left: 60px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -20px;
        left: -280px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: 20px;
        left: -225px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (max-width:1100px) {
    .home-sec5-left {
        margin-top: 100px
    }

    .phone-img {
        max-width: 158px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 158px;
        top: 44px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 158px;
        top: 116px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 158px;
        top: 187px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 158px;
        top: 261px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 48%;
        margin-left: -80px;
        top: -89px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -88px;
        font-size: 17px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -12px !important
    }

    .left-icon-area,
    .left-icon-area2 {
        margin-top: -40px
    }

    .inner-circle-area {
        margin-top: -50px !important
    }

    .home-sec5-right img.inner-img {
        max-width: 140px !important
    }

    .circle-hand1 img {
        max-width: 181.076px !important;
        margin-top: 30px !important;
        margin-left: -15px !important
    }

    .circle-hand2 img {
        max-width: 134.54px !important;
        margin-top: -35px !important;
        margin-left: -16px !important
    }

    .circle-hand3 img {
        max-width: 72.54px !important;
        margin-top: -30px !important;
        margin-left: 11px !important
    }

    .circle-hand4 img {
        max-width: 114.1px !important;
        margin-top: 18px !important;
        margin-left: 30px !important
    }

    .cir-heading1,
    .cir-heading2,
    .cir-heading3,
    .cir-heading4,
    .cir-heading5,
    .cir-heading6,
    .cir-heading7,
    .cir-heading8 {
        font-size: 17px !important
    }

    .cir-heading1 {
        margin-top: -145px !important;
        margin-left: -3px !important
    }

    .cir-heading2 {
        margin-top: -15px !important;
        margin-left: -30px !important
    }

    .cir-heading3 {
        margin-top: 40px !important;
        margin-left: -45px !important
    }

    .cir-heading4 {
        margin-top: 80px !important;
        margin-left: -50px !important
    }

    .cir-heading5 {
        margin-top: 95px !important;
        margin-left: -10px !important
    }

    .cir-heading6 {
        margin-top: 80px !important;
        margin-left: 60px !important
    }

    .cir-heading7 {
        margin-top: 40px !important;
        margin-left: 45px !important
    }

    .cir-heading8 {
        margin-top: -15px !important;
        margin-left: 30px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 60%;
        right: -60%;
        margin-top: 20px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -13px;
        font-size: 17px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .panel p {
        font-size: 15px;
        padding: 20px 5px 20px 70px !important
    }

    .container2 {
        width: 550px;
        margin-left: -200px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: 10px;
        left: 140px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: 65px;
        left: 60px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -20px;
        left: -220px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: 20px;
        left: -180px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (max-width:1024px) {
    .home-sec5-left {
        margin-top: 30px
    }

    .phone-img {
        max-width: 158px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 158px;
        top: 45px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 158px;
        top: 120px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 158px;
        top: 190px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 158px;
        top: 263px
    }

    .home-sec5 .yellow-box1 {
        width: 10%;
        height: 37%;
        margin-left: -80px;
        top: -89px
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -85px;
        font-size: 17px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -12px !important
    }

    .inner-circle-area {
        margin-top: 30px !important
    }

    .home-sec5-right img.inner-img {
        max-width: 120px !important
    }

    .circle-hand1 img {
        max-width: 155.208px !important;
        margin-top: 41px !important;
        margin-left: -20px !important
    }

    .circle-hand2 img {
        max-width: 115.2px !important;
        margin-top: -50px !important;
        margin-left: -23px !important
    }

    .circle-hand3 img {
        max-width: 61.92px !important;
        margin-top: -55px !important;
        margin-left: 15px !important
    }

    .circle-hand4 img {
        max-width: 97.8px !important;
        margin-top: 24px !important;
        margin-left: 40px !important
    }

    .cir-heading1,
    .cir-heading2,
    .cir-heading3,
    .cir-heading4,
    .cir-heading5,
    .cir-heading6,
    .cir-heading7,
    .cir-heading8 {
        font-size: 17px !important
    }

    .cir-heading1 {
        margin-top: -140px;
        margin-left: -15px
    }

    .cir-heading2 {
        margin-top: -15px;
        margin-left: -40px
    }

    .cir-heading3 {
        margin-top: 35px;
        margin-left: -70px
    }

    .cir-heading4 {
        margin-top: 65px;
        margin-left: -80px
    }

    .cir-heading5 {
        margin-top: 78px;
        margin-left: -20px
    }

    .cir-heading6 {
        margin-top: 68px;
        margin-left: 55px
    }

    .cir-heading7 {
        margin-top: 35px;
        margin-left: 46px
    }

    .cir-heading8 {
        margin-top: -15px;
        margin-left: 35px
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 30%;
        right: -60%;
        margin-top: 150px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -15px;
        font-size: 17px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .container2 {
        width: 600px;
        position: absolute;
        margin-left: -30%
    }

    .panel p {
        font-size: 15px;
        padding: 10px 5px 10px 70px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: 10px;
        left: 110px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: -35px;
        left: 110px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -30px;
        left: -220px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: 20px;
        left: -170px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (max-width:991px) {
    .phone-img {
        max-width: 150px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 150px;
        top: 45px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 150px;
        top: 115px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 150px;
        top: 180px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 150px;
        top: 249px
    }

    .home-sec5-left {
        margin-top: 180px
    }

    .home-sec5 .yellow-box1 {
        width: 8%;
        height: 50%;
        margin-left: -90px;
        top: -98px !important
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -70px !important;
        font-size: 14px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px !important
    }

    .home-sec5 .yellow-box1:after,
    .home-sec5 .yellow-box1:before {
        left: 40px;
        width: 14px;
        height: 14px;
        background-size: contain
    }

    .total-icons-area .left-icon-area .icon-part img,
    .total-icons-area .left-icon-area2 .icon-part img {
        max-width: 100% !important;
        margin: auto;
        margin-bottom: 0
    }

    .left-icon-area .icon-part,
    .left-icon-area2 .icon-part {
        width: 40%;
        margin-top: -20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column
    }

    .left-icon-area,
    .left-icon-area2 {
        width: 40%;
        margin-top: -60px
    }

    .left-icon-area {
        margin-right: 5px
    }

    .left-icon-area .icon-part p,
    .left-icon-area2 .icon-part p,
    .right-icon-area-text {
        font-size: 10px !important
    }

    .inner-circle-area {
        margin-top: 30px !important;
        margin-left: -5% !important
    }

    .home-sec5-right img.inner-img {
        max-width: 100px !important
    }

    .circle-hand1 img {
        max-width: 129.34px !important;
        margin-top: 53px !important;
        margin-left: -27px !important
    }

    .circle-hand2 img {
        max-width: 96.1px !important;
        margin-top: -75px !important;
        margin-left: -29px !important
    }

    .circle-hand3 img {
        max-width: 51.6px !important;
        margin-top: -95px !important;
        margin-left: 18px !important
    }

    .circle-hand4 img {
        max-width: 81.5px !important;
        margin-top: 30px !important;
        margin-left: 51px !important
    }

    .cir-heading1,
    .cir-heading2,
    .cir-heading3,
    .cir-heading4,
    .cir-heading5,
    .cir-heading6,
    .cir-heading7,
    .cir-heading8 {
        font-size: 14px !important
    }

    .cir-heading1 {
        margin-top: -120px !important;
        margin-left: -19px !important
    }

    .cir-heading2 {
        margin-top: -10px !important;
        margin-left: -80px !important
    }

    .cir-heading3 {
        margin-top: 28px !important;
        margin-left: -103px !important
    }

    .cir-heading4 {
        margin-top: 58px !important;
        margin-left: -95px !important
    }

    .cir-heading5 {
        margin-top: 68px !important;
        margin-left: -25px !important
    }

    .cir-heading6 {
        margin-top: 60px !important;
        margin-left: 65px !important
    }

    .cir-heading7 {
        margin-top: 28px !important;
        margin-left: 68px !important
    }

    .cir-heading8 {
        margin-top: -10px !important;
        margin-left: 45px !important
    }

    .home-sec5 .right-gray-box {
        width: 28%;
        height: 30%;
        right: -60%;
        margin-top: 200px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -12px;
        font-size: 14px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .home-sec5 .right-gray-box:hover:after,
    .home-sec5 .right-gray-box:after {
        width: 14px !important;
        height: 14px !important;
        background-size: contain;
        margin-left: 5px
    }

    .right-icon-area .icon-part p {
        font-size: 10px !important;
        width: 80%;
        margin: auto
    }

    .right-icon-area {
        margin-left: 20px !important
    }

    .circle-hand1:hover .cirl-hand1-content,
    .circle-hand2:hover .cirl-hand2-content,
    .circle-hand3:hover .cirl-hand3-content,
    .circle-hand4:hover .cirl-hand4-content {
        width: 150px;
        padding: 10px;
        font-size: 10px;
        color: #11174A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: 40px;
        left: 90px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: -45px;
        left: 80px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -50px;
        left: -160px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: 20px;
        left: -100px
    }

    .container2 {
        width: 600px;
        position: absolute;
        margin-left: -30%
    }

    .panel p {
        font-size: 13px;
        padding: 10px 10px 10px 70px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (max-width:860px) {
    .phone-img {
        max-width: 120px
    }

    .home-sec5 .phone-img-area img.phone-data1 {
        max-width: 120px;
        top: 35px
    }

    .home-sec5 .phone-img-area img.phone-data2 {
        max-width: 120px;
        top: 90px
    }

    .home-sec5 .phone-img-area img.phone-data3 {
        max-width: 120px;
        top: 145px
    }

    .home-sec5 .phone-img-area img.phone-data4 {
        max-width: 120px;
        top: 198px
    }

    .home-sec5-left {
        margin-top: 180px
    }

    .home-sec5 .yellow-box1 {
        width: 10%;
        height: 38%;
        margin-left: -120px;
        top: -128px !important
    }

    .home-sec5 .yellow-box1 h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -60px !important;
        font-size: 12px;
        margin-top: -5px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px !important
    }

    .home-sec5 .yellow-box1:after,
    .home-sec5 .yellow-box1:before {
        left: 35px;
        width: 13px;
        height: 13px;
        background-size: contain
    }

    .home-sec5 .right-gray-box:hover:after,
    .home-sec5 .right-gray-box:after {
        width: 13px !important;
        height: 13px !important;
        background-size: contain;
        margin-left: 10px
    }

    .total-icons-area .left-icon-area .icon-part img,
    .total-icons-area .left-icon-area2 .icon-part img {
        max-width: 100% !important;
        margin: auto;
        margin-bottom: 0
    }

    .left-icon-area .icon-part,
    .left-icon-area2 .icon-part {
        width: 40%;
        margin-top: -20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column
    }

    .left-icon-area,
    .left-icon-area2 {
        width: 40%;
        margin-top: -60px
    }

    .left-icon-area {
        margin-right: 5px
    }

    .left-icon-area .icon-part p,
    .left-icon-area2 .icon-part p,
    .right-icon-area-text {
        font-size: 10px !important
    }

    .inner-circle-area {
        margin-top: -20px !important;
        margin-left: -10% !important
    }

    .home-sec5-right img.inner-img {
        max-width: 80px !important
    }

    .circle-hand1 img {
        max-width: 103.44px !important;
        margin-top: 65px !important;
        margin-left: -33px !important
    }

    .circle-hand2 img {
        max-width: 76.88px !important;
        margin-top: -122px !important;
        margin-left: -36px !important
    }

    .circle-hand3 img {
        max-width: 41.28px !important;
        margin-top: -143px !important;
        margin-left: 28px !important
    }

    .circle-hand4 img {
        max-width: 65.2px !important;
        margin-top: 38px !important;
        margin-left: 65px !important
    }

    .cir-heading1,
    .cir-heading2,
    .cir-heading3,
    .cir-heading4,
    .cir-heading5,
    .cir-heading6,
    .cir-heading7,
    .cir-heading8 {
        font-size: 13px !important
    }

    .cir-heading1 {
        margin-top: -105px !important;
        margin-left: -16px !important
    }

    .cir-heading2 {
        margin-top: -10px !important;
        margin-left: -65px !important
    }

    .cir-heading3 {
        margin-top: 20px !important;
        margin-left: -80px !important
    }

    .cir-heading4 {
        margin-top: 45px !important;
        margin-left: -73px !important
    }

    .cir-heading5 {
        margin-top: 55px !important;
        margin-left: -19px !important
    }

    .cir-heading6 {
        margin-top: 45px !important;
        margin-left: 50px !important
    }

    .cir-heading7 {
        margin-top: 25px !important;
        margin-left: 50px !important
    }

    .cir-heading8 {
        margin-top: -10px !important;
        margin-left: 30px !important
    }

    .home-sec5 .right-gray-box {
        width: 32%;
        height: 30%;
        right: -40%;
        margin-top: 130px
    }

    .home-sec5 .right-gray-box h5.verti-text {
        transform: rotate(-90deg) !important;
        right: -11px;
        font-size: 12px
    }

    .home-sec5 .yellow-box1:hover h5.verti-text:before {
        top: -10px
    }

    .right-icon-area .icon-part p {
        font-size: 10px !important;
        width: 80%;
        margin: auto
    }

    .right-icon-area {
        margin-left: 30px !important
    }

    .circle-hand1:hover .cirl-hand1-content,
    .circle-hand2:hover .cirl-hand2-content,
    .circle-hand3:hover .cirl-hand3-content,
    .circle-hand4:hover .cirl-hand4-content {
        width: 150px;
        padding: 10px;
        font-size: 10px;
        color: #11174A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px
    }

    .circle-hand1:hover .cirl-hand1-content {
        top: 20px;
        left: 30px
    }

    .circle-hand2:hover .cirl-hand2-content {
        top: -65px;
        left: 65px
    }

    .circle-hand3:hover .cirl-hand3-content {
        top: -50px;
        left: -139px
    }

    .circle-hand4:hover .cirl-hand4-content {
        top: 20px;
        left: -80px
    }

    .container2 {
        width: 500px
    }

    .panel p {
        font-size: 13px;
        padding: 10px 10px 10px 70px
    }

    .home-sec6 {
        margin-top: -250px !important
    }
}

@media only screen and (min-width:768px) {
    .mblsec {
        display: none
    }
}

@media only screen and (max-width:767px) {
    .vertical {
        margin-top: -15px
    }

    .circle-hand-1-text,
    .circle-hand-2-text,
    .circle-hand-3-text,
    .circle-hand-4-text,
    .circle-hand-5-text,
    .circle-hand-6-text,
    .circle-hand-7-text,
    .circle-hand-8-text {
        background-color: #ffbf47;
        color: #fff;
        padding: 15px;
        border-radius: 60px;
        width: 100%;
        height: 100;
        text-align: center;
        display: none;
        margin-top: -150px;
        margin-bottom: 150px
    }

    .heading-area {
        width: 90% !important
    }

    .heading-area h2 {
        text-align: center !important
    }

    .home-sec5 .heading-area {
        margin-left: auto !important;
        margin-right: auto !important
    }

    .outcomesec {
        margin-top: -100px !important;
        margin-bottom: 50px
    }

    .slider-cont1,
    .slider-cont2,
    .slider-cont3,
    .slider-cont4 {
        align-items: center;
        display: flex;
        background-color: #ffbf47;
        padding: 10px;
        border-radius: 50px;
        margin: 30px 0 50px 0
    }

    .button1-content1,
    .button1-content2,
    .button1-content3 {
        background-color: #11174A;
        width: 100%;
        height: 100%;
        padding: 15px;
        border-radius: 30px;
        display: none;
        padding-bottom: 60px;
        margin-bottom: -50px
    }

    .hoverimg {
        width: 20px;
        height: 15.26px;
        margin-right: 5px
    }

    .hoverimg2 {
        width: 20px;
        height: 18px;
        margin-right: 5px
    }

    .hoverimg3 {
        width: 20px;
        height: 20px;
        margin-right: 5px
    }

    .hover-sec1-head1 {
        background-color: #ffbf47;
        display: none
    }

    #slidersec {
        text-align: center
    }

    .slider-img {
        margin-right: 10px
    }

    .slider-cont2-sec,
    .slider-cont3-sec,
    .slider-cont4-sec,
    #slidericon1 {
        display: none
    }

    .phone-area {
        background: url(../images/home-sec5-phone-img.png) no-repeat;
        width: 277px;
        height: 566px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        flex-direction: column
    }

    .phone-area-data1 {
        padding-top: 77px
    }

    .phone-data1 {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .mbl-verti-text,
    .mbl-outcome-text {
        background-color: #F1F1F1;
        padding: 20px;
        border-radius: 30px;
        margin-top: 30px
    }

    .mbl-verti-text2,
    .mbl-outcome-text2 {
        background-color: #ffbf47;
        padding: 20px;
        border-radius: 30px;
        margin-top: 30px;
        display: none
    }

    .total-icons {
        background-color: #F1F1F1;
        margin-top: -70px;
        z-index: -1;
        border-radius: 30px;
        padding: 90px 10px 0;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly !important
    }

    .top-img {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        margin-top: 10px
    }

    .outcome-total-icon {
        grid-template-columns: auto auto !important;
        margin-top: -160px !important;
        padding-top: 170px
    }

    .inner-area {
        margin-bottom: 300px
    }

    .signal-down,
    .outcome-down,
    .yellow-box1,
    .phone-img-area,
    .container2,
    .right-gray-box,
    .desk,
    .inner-circle-area {
        display: none
    }

    .circle-area {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex
    }

    .fa-angles-down,
    .fa-angle-double-down:before,
    .fa-angles-down:before {
        align-items: center !important;
        display: flex !important;
        margin: auto !important;
        text-align: center !important
    }

    .inner-img {
        width: 184px;
        height: 184px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        position: relative
    }

    .inner-area {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px
    }

    .circle-hand-1 {
        position: absolute;
        margin-left: 168px;
        margin-top: -300px
    }

    .circle-hand-2 {
        position: absolute;
        margin-left: 170px;
        margin-top: -38px
    }

    .circle-hand-3 {
        position: absolute;
        margin-left: 40px;
        margin-top: -30px
    }

    .circle-hand-4 {
        position: absolute;
        margin-left: -10px;
        margin-top: -248px
    }

    .cir-heading1 {
        position: absolute;
        margin-top: -140px !important;
        margin-left: 180px !important
    }

    .cir-heading2 {
        position: absolute;
        margin-top: -60px !important;
        margin-left: 370px !important
    }

    .cir-heading3 {
        position: absolute;
        margin-top: 70px !important;
        margin-left: 420px !important
    }

    .cir-heading4 {
        position: absolute;
        margin-top: 210px !important;
        margin-left: 370px !important
    }

    .cir-heading5 {
        position: absolute;
        margin-top: 300px !important;
        margin-left: 180px !important
    }

    .cir-heading6 {
        position: absolute;
        margin-top: 205px !important;
        margin-left: -40px !important
    }

    .cir-heading7 {
        position: absolute;
        margin-top: 80px !important;
        margin-left: -60px !important
    }

    .cir-heading8 {
        position: absolute;
        margin-top: -50px !important;
        margin-left: -20px !important
    }
}

@media only screen and (max-width:575px) {
    .inner-img {
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        position: relative
    }

    .inner-area {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px
    }

    .circle-hand-1 {
        position: absolute;
        margin-left: 120px;
        margin-top: -250px
    }

    .circle-hand-1 img {
        width: 200px !important;
        height: 200.8px !important
    }

    .circle-hand-2 img {
        width: 176.54px !important;
        height: 140px !important
    }

    .circle-hand-3 img {
        width: 90px !important;
        height: 91px !important
    }

    .circle-hand-4 img {
        width: 118.35px !important;
        height: 150px !important
    }

    .circle-hand-2 {
        position: absolute;
        margin-left: 120px;
        margin-top: -28px
    }

    .circle-hand-3 {
        position: absolute;
        margin-left: 15px;
        margin-top: -30px
    }

    .circle-hand-4 {
        position: absolute;
        margin-left: -15px;
        margin-top: -198px
    }

    .cir-heading1 {
        position: absolute;
        margin-top: -130px !important;
        margin-left: 130px !important
    }

    .cir-heading2 {
        position: absolute;
        margin-top: -60px !important;
        margin-left: 280px !important
    }

    .cir-heading3 {
        position: absolute;
        margin-top: 60px !important;
        margin-left: 330px !important
    }

    .cir-heading4 {
        position: absolute;
        margin-top: 180px !important;
        margin-left: 305px !important
    }

    .cir-heading5 {
        position: absolute;
        margin-top: 265px !important;
        margin-left: 120px !important
    }

    .cir-heading6 {
        position: absolute;
        margin-top: 175px !important;
        margin-left: -70px !important
    }

    .cir-heading7 {
        position: absolute;
        margin-top: 60px !important;
        margin-left: -65px !important
    }

    .cir-heading8 {
        position: absolute;
        margin-top: -50px !important;
        margin-left: -25px !important
    }
}

@media only screen and (max-width:480px) {
    .slidersontsec p {
        font-size: .7rem !important
    }

    .icon-part p {
        font-size: 12px
    }

    .home-sec5-content .heading-area h2 {
        width: 100% !important
    }

    .inner-img {
        width: 130px;
        height: 130px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        position: relative
    }

    .inner-area {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px
    }

    .mbl-verti-text,
    .mbl-outcome-text {
        padding: 15px
    }

    .circle-hand-1 img {
        width: 180px !important;
        height: 180.8px !important
    }

    .circle-hand-2 img {
        width: 151.368px !important;
        height: 120px !important
    }

    .circle-hand-3 img {
        width: 75px !important;
        height: 75.9px !important
    }

    .circle-hand-4 img {
        width: 102.57px !important;
        height: 130px !important
    }

    .circle-hand-1 {
        position: absolute;
        margin-left: 69px;
        margin-top: -215px
    }

    .circle-hand-2 {
        position: absolute;
        margin-left: 72px;
        margin-top: -28px
    }

    .circle-hand-3 {
        position: absolute;
        margin-left: -17px;
        margin-top: -20px
    }

    .circle-hand-4 {
        position: absolute;
        margin-left: -40px;
        margin-top: -170px
    }

    .cir-heading1 {
        position: absolute;
        margin-top: -110px !important;
        margin-left: 84px !important
    }

    .cir-heading2 {
        position: absolute;
        margin-top: 5px !important;
        margin-left: 170px !important
    }

    .cir-heading3 {
        position: absolute;
        margin-top: 95px !important;
        margin-left: 205px !important
    }

    .cir-heading4 {
        position: absolute;
        margin-top: 190px !important;
        margin-left: 170px !important
    }

    .cir-heading5 {
        position: absolute;
        margin-top: 225px !important;
        margin-left: 80px !important
    }

    .cir-heading6 {
        position: absolute;
        margin-top: 185px !important;
        margin-left: -30px !important
    }

    .cir-heading7 {
        position: absolute;
        margin-top: 90px !important;
        margin-left: -45px !important
    }

    .cir-heading8 {
        position: absolute;
        margin-top: 6px !important;
        margin-left: -10px !important
    }
}

@media only screen and (max-width:370px) {
    .phone-area {
        width: 200px;
        height: 408.6px;
        background-size: contain
    }

    .phone-area-data1 {
        padding-top: 56px
    }
}

@media only screen and (max-width:340px) {
    .icon-part p {
        font-size: 11px
    }

    .hover-button1 {
        padding: 10px 12px 10px 12px !important;
        font-size: 16px !important
    }
}